/* You can add global styles to this file, and also import other style files */
body {
  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body h3,h5{
  font-family: 'Potta One', cursive;
  text-align: center;
  text-transform: uppercase;
}

.fa-solid {
  cursor: pointer;
}

.green-icon {
  color: #198754;
}
.red-icon {
  color: #dc3545
}
